.cinema_prices_left{
	float:left;
	width:330px;
}

.cinema_prices_right{
	float:left;
	width:350px;
}

.cinema_prices_entry {
	clear:both;
}

.cinema_prices_entry *{
	float:left;
}

.cinema_prices_entry span{
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:150px;
	font-size:30px;
}

.cinema_prices_entry h2{
	float:left;
	margin-left:0px;
	margin-top:0;
}

.cinema_prices_entry h1{
	float:left;
	width:260px;
	font-size:50px;
	margin:0px;
}

.cinema_prices_entry h1.cinema_price{
	float:left;
	font-size:55px;
	margin:0px;
	width:80px;
}

.cinema_prices_entry .cinema_bonus{
	margin-top:10px;
	color:#51a351;
}

.cinema_prices_entry .cinema_last{
	clear:both;

}

.cinema_prices_entry .cinema_cashin{
	font-size:30px;
	padding:25px 0px 0px 0px;
	margin:0px;
	color:#04c;
}

.cinema_prices_entry .cinema_cashways{
	font-size:30px;
}

.cinema_prices_entry .cinema_cashways li{
	font-size:30px;
	margin-top:25px;
}


