.zara-cont{ height : 515px; }

.styl-top{
	float: left;
}

.styl-top-img { float: left; width:270px;}
.styl-top-info { 
	float: left;
	width:520px;
	padding: 5px 0px 0px 15px; 
}

.styl-bot{
	clear: both;
	padding: 10px 10px 10px 20px;
	float: left;
}